@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Pirata+One&display=swap');

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-base);
  font-size: 1.25rem;
  line-height: 1.25;
}
