.stat-category--health {
  --stat-color: #{var(--stat-color-health)};
}

.stat-category--cleanliness {
  --stat-color: #{var(--stat-color-cleanliness)};
}

.stat-category--personalCare {
  --stat-color: #{var(--stat-color-personalCare)};
}
