:root {
  --card-width: 400px;
  --card-height: 600px;
  --card-border-radius: 20px;

  --card-color-bg: hsl(42deg 100% 87%);
  --card-color-bg-tint: hsl(42deg 67% 74%);

  --font-base: 'Gabriela', serif;
  --font-display: 'Pirata One', system-ui;

  --stat-color-personal-care: hsl(347.15deg 89.44% 71.57%);
  --stat-color-health: hsl(142.75deg 45.37% 55.59%);
  --stat-color-cleanliness: hsl(200.86deg 84.62% 70.24%);
}
