.button-list {
  display: flex;
  gap: 10px;
}

.button {
  background-color: transparent;
  border: 0 none;
  color: var(--color-light);
  cursor: pointer;
  font-family: var(--font-display);
  font-size: 30px;
  font-weight: normal;
  line-height: 1.25;
  outline: 0 none;

  &.button--size-sm {
    font-size: 20px;
    padding: 5px 15px;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.button--default {
  background-color: var(--color-darker);
  border: 2px solid var(--color-light);
  border-radius: 40px;
  padding: 10px 30px;
  transition: 0.25s ease;

  &:not([disabled]) {
    &:hover,
    &:focus-visible {
      background-color: #000;
    }
  }
}

.button--link {
  opacity: 0.7;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}
