$border-inset: 20px;
$border-width: 6px;

.card-deck {
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  height: var(--card-height);
  position: relative;
  width: var(--card-width);

  .card {
    left: 0;
    position: absolute;
    top: 0;

    &:nth-child(1) {
      transform: rotate(-2deg) translateY(3px);
    }

    &:nth-child(2) {
      transform: rotate(1deg);
    }

    &:nth-child(3) {
      transform: rotate(-1deg) translateY(-2px);
    }
  }
}

.card {
  height: var(--card-height);
  width: var(--card-width);
}

.card__back,
.card__face {
  border-radius: var(--card-border-radius);
  inset: 0;
  position: absolute;
}

.card__back {
  background-color: var(--card-color-bg);
  border: 2px solid var(--card-color-bg-tint);

  &::before {
    background-color: hsl(42deg 67% 71%);
    border: $border-width solid hsl(42deg 50% 50%);
    border-radius: 10px;
    content: '';
    display: block;
    height: calc(var(--card-height) - ($border-inset * 2 + $border-width * 2));
    left: $border-inset;
    position: absolute;
    top: $border-inset;
    width: calc(var(--card-width) - ($border-inset * 2 + $border-width * 2));
  }
}

.card__face {
  background-color: var(--card-color-bg);
  border: 2px solid var(--card-color-bg-tint);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card__header {
  align-items: center;
  display: flex;
  gap: 10px;
}

.card__title {
  flex: 1;
  font-family: var(--font-display);
  font-size: 40px;
  line-height: 1;
  padding-left: 10px;
}

.card__value {
  align-items: center;
  background-color: var(--stat-color);
  border-radius: 50%;
  display: flex;
  font-family: var(--font-display);
  font-size: 50px;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  line-height: 1;
  vertical-align: baseline;
  width: 60px;

  small {
    font-family: var(--font-base);
    font-size: 20px;
    margin-right: -5px;
    opacity: 0.75;
  }
}

.card__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  text-align: center;

  &::after {
    background: currentColor;
    content: '';
    display: block;
    height: 2px;
    margin: 30px auto 0;
    opacity: 0.3;
    width: 50%;
  }
}

.card__bonuses {
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
}

.card-bonus__value {
  background-color: var(--stat-color);
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  margin-right: -0.2em;
  padding: 5px;

  small {
    font-size: 12px;
    opacity: 0.75;
  }
}
