.power-up-emitter {
  height: 100px;
  left: 50%;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 99;
}

.power-up {
  align-items: center;
  animation: power-up 0.5s ease;
  animation-fill-mode: forwards;
  background-color: var(--stat-color);
  border-radius: 50%;
  display: flex;
  font-family: var(--font-display);
  font-size: 70px;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  line-height: 1;
  position: absolute;
  vertical-align: baseline;
  width: 100px;

  small {
    font-family: var(--font-base);
    font-size: 20px;
    margin-left: 0.1em;
    margin-right: -0.5em;
    opacity: 0.75;
  }
}

@keyframes power-up {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
